.offcanvas.offcanvas-end#offcanvasRight(tabindex="-1", aria-labelledby="offcanvasRightLabel")
  .offcanvas-header
    h5.offcanvas-title#offcanvasRightLabel Carrito
    button.btn-close(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
  .offcanvas-body.text-center#carrito
    .w100.d-flex.justify-content-evenly
      input.btn.btn-secondary(type="button" value="Comprar")#btnComprar
      p.my-auto $ 0
      button.btn.btn-light#btnComprar
        i.bi.bi-trash.text-danger.my-auto

