section(class='container d-flex justify-content-center align-items-center' id='secCarrucel')
  #carouselExampleSlidesOnly.carousel.slide(data-bs-ride="carousel")
    .carousel-inner
script(src='script.js' asyn) 

// no funciono

