footer.footer.container-fluit.d-flex.justify-content-center.aling-items-center
  .navegacion.w-100.py-5.m-0
    ul.listaNav.d-sm-flex.justify-content-evenly
      li.listaItem.py-sm-1
        a.linkNav(href='#') Términos y condiciones
      li.listaItem.py-sm-1
        a.linkNav(href='#') Preguntas frecuentes
      li.listaItem.py-sm-1
        a.linkNav(href='#') Ayuda
      li.listaItem.py-sm-1
        a.linkNav(href='#') Encontranos en

