section(class="container sections")
    div(class="row row-cols-6 row-cols-md-3 g-4 d-flex justify-content-center aling-items-center py-5" id="card")
    a(href='#' class='flechaArriba')  
        img(src='../../img/flecha-hacia-arriba.png', alt='ir arriba flecha' class='flecha')
